<i class="oHelpIcon txtMiddle"></i>
<strong class="oSubtleLink">Common questions &amp; tips</strong>
<div id="help-modal" style="display: none;">
    <div class="underlay"></div>
    <div class="modal">
        <button class="oPreviewDialogCloseBtn oRight jsDialogClose"></button>
        <header>
            <h1 class="oH1 oHInline oTxtLarge"><a>Help &amp; Tips</a> > Messaging</h3>
                <div class="oRight">
                    <i class="oHelpIcon txtMiddle"></i>
                    <a>Contact Support</a>
                </div>
        </header>
        <div class="oTabLite">
            <ul>
                <li class="active">Common questions</li>
                <li class="oMute">Tips &amp; Videos</li>
            </ul>
        </div>
        <ul class="oListLite">
            <li class="oTxtEnlarged">
                <h3 class="p">How quickly do freelancers respond to messages? How long should I wait?</h3>
                <div class="oMute oTxtMed p LHLarge">
                    It can take up to a day for a freelancer to respond, don’t wait! Not all freelancers will respond right away, its a good idea to message multiple freelancers
                </div>
            </li>
            <li class="oTxtEnlarged">
                <h3 class="p">What kinds of questions should I be asking my freelancers?
                </h3>
                <div class="oMute oTxtMed p LHLarge">
                    It can depend on the category as well as the length of the job. The first thing to do is figure out if they read the description and fully understand what the job entails. It doesn’t matter if your description was detailed or not, If they ask more questions about your job that is a great sign. This will also help you guage a few things this freelancer. How are their communication skills? How is their ability to comprehend what you want done?
                </div>
            </li>
            <li class="oTxtEnlarged">
                <h3 class="p">Can I use chat or email outside of oDesk to talk with my freelancers?</h3>
                <div class="oMute oTxtMed p LHLarge">
                    <p class="p">Yes its a great idea to talk or chat with a potential hire using 3rd party applications like skype or google hangouts. A great way to talk about your project is on a chat app like skype, or google chat.
                    </p>
                    <p>Pro tip — If your worried sharing your account, create a new skype or google account for oDesk. Its a great way to keep your oDesk contacts organised as well!</p>
                </div>
            </li>
        </ul>

    </div>
