                <div class="invitedProfile np added">

                    <img ng-src="{{invitedFreelancers[0].user.image}}"></img>
                    <span class="oApplicantsIcon"></span>
                </div>
                <div class="invitedProfile np added">
                    <img ng-src="{{invitedFreelancers[1].user.image}}"></img>
                    <span class="oApplicantsIcon"></span>
                </div>
                <div class="invitedProfile np added">
                    <img ng-src="{{invitedFreelancers[2].user.image}}"></img>
                    <span class="oApplicantsIcon"></span>
                </div>
                <div class="invitedProfile np added">
                    <img ng-src="{{invitedFreelancers[3].user.image}}"></img>
                    <span class="oApplicantsIcon"></span>
                </div>
                <div class="invitedProfile np added">
                    <img ng-src="{{invitedFreelancers[4].user.image}}"></img>
                    <span class="oApplicantsIcon"></span>
                </div>