    
                <header>
                        <img class="oPortraitSmall oImg" ng-src="{{user.image}}"></img>
                    <div class="ib">
                        <h3 class="oTxtEnlarged">
                            <a ng-bind="user.name"></a>
                            </h1>
                            <div class="oLocation">
                                <strong ng-bind="user.location">London</strong>
                                <span class="oMute">2:30am local time (8 hrs ahead)</span>
                            </div>
                    </div>
                    <div class="oRight">
                        <i class="oXIcon" ng-click="removeWindow(key, user);"></i>
                        <i class="oMinimizeIcon" ng-click="min = !min"></i>
                    </div>
                </header>
                <textarea ng-model="$parent.noticeText" placeholder="Hello!I'd like to invite you to apply to my job. Please review the job post and
apply if you're available."></textarea>
                <div class="oForm">
                    <div class="oFormField">
                        <label class="oLabel">Inviting to job</label>
                        <select>
                            <option>Ruby on rails</option>
                            <option>Another Thing</option>
                        </select>
                    </div>
                    <div ng-show="$state.includes('atsHome.suggestions')" class="oBtn oBtnPrimary oRight" ng-click="userInvited(key, user); updateMessage()" send-invite>Send Invitation</div>
                    <div ng-show="$state.includes('atsHome.applicants')" class="oBtn oBtnPrimary oRight" ng-click="userMessaged(key, user); user.sent = true;" send-message>Send Message</div>
                </div>

