<h2 class="p-x-sml">What level of experience is required?</h2>
    <div class="text-muted p-lrg">Select relevant tags to improve your results</div>


    <div class="oTagSet">
    <!-- Roles -->
        <div class="radio">
            <label class="btn btn-default m-xs-top-bottom m-xs-left-right capitalize p-sm-left-right p-sm-top-bottom checkbox" ng-class="{active: filterData.experience === '0'}">
                <input type="radio" ng-model="filterData.experience" value="0">
                <span class="checkbox-replacement-helper">
                </span>
                Any experience
            </label>
        </div>
        <div class="radio">
            <label class="btn btn-default m-xs-top-bottom m-xs-left-right capitalize p-sm-left-right p-sm-top-bottom checkbox" ng-class="{active: filterData.experience === '1'}">
                <input type="radio" ng-model="filterData.experience" value="1">
                <span class="checkbox-replacement-helper">
                </span>
                Entry Level
            </label>
        </div>
        <div class="radio">
            <label class="btn btn-default m-xs-top-bottom m-xs-left-right capitalize p-sm-left-right p-sm-top-bottom checkbox" ng-class="{active: filterData.experience === '2'}">
                <input type="radio" ng-model="filterData.experience" value="2">
                <span class="checkbox-replacement-helper">
                </span>
               Intermediate
            </label>
        </div>
        <div class="radio">
            <label class="btn btn-default m-xs-top-bottom m-xs-left-right capitalize p-sm-left-right p-sm-top-bottom checkbox" ng-class="{active: filterData.experience === '3'}">
                <input type="radio" ng-model="filterData.experience" value="3">
                <span class="checkbox-replacement-helper">
                </span>
                Expert
            </label>
        </div>
    </div>
            
    {{filterData.experience | json}}

    <button type="submit" class="btn btn-primary m-0-left m-sm-top" ng-disabled="!filterData.experience" ng-click="updateFilters(filterData);">Update results</button>


