<span class="pulse" ng-click="toolTip()"></span>

<div class="oFlyout isTop oFlyoutGuide" ng-show="tipOpen">
<div class="oFlyoutArrow" style="bottom: -8px;"></div>
<div class="oBd">
    <h1 class="oH1 oTxtMega p">How fast did they work?</h1>
        <div class="oTxtMed oMute">
            When messaging the freelancer try to figure out how long this took them. 
            <br>
            <br>
            Lower cost freelancers can end up costing more then expensive freelancers when you take into account speed.
            <!--A $15/hr might not be the best choice if they take twice as long as a $30/hr freelancer.-->
        </div>
        <footer class="oRight">
            <button class="oBtn oBtnPrimary">Got it</button>
        </footer>
    </aside>
</div>
</div>