        <h2 class="oH2Low oH2Border" ng-click="open = !open; wayRefresh()" ng-class="{active:open === true}" sticky-bar>
            <div class="innerWrap">
                <i class="oHToggle animated" ng-class="{isCollapsed:open === false}"></i>
                <strong class="ib oTxtMega txtMiddle" ng-bind="sectionCount"></strong>
                <span class="ib oTxtMega txtMiddle" ng-bind="sectionTitle"></span>
                <select ng-click="$event.stopPropagation();" ng-show="tileSort === true" class="oInputInline jsLogChangeEvent oSortInput oRight">
                    <option value="s_bestmatch_score;desc" selected="">Best Match</option>
                    <option value="s_ctime;desc">Newest Applicants</option>
                    <option value="s_ctime;asc">Oldest Applicants</option>
                    <option value="s_feedback_score;desc">Feedback</option>
                    <option value="s_total_hours;desc">oDesk Hours</option>
                    <option value="s_pay_rate;asc">Rate (low to high)</option>
                    <option value="s_pay_rate;desc">Rate (high to low)</option>
                </select>
            </div>
        </h2>
        <section ng-init="open = true" ng-show="open" class="applicantContent">
            <article class="oContractorTile jsSimilarTile oProfileTileLead animated" id="profile_4733042" data-position="13" ng-repeat="(key, user) in recommendedApplicants" ng-animate="'user'">
                <div class="cols">
                    <div class="col col1of8 oImg">
                        <img id="portrait_3" class="oPortraitLarge" alt="Li Wen" ng-src="{{user.image}}">
                    </div>
                    <div class="cols col col7of8">
                        <div class="cols p">
                            <div class="col col6of8">
                                <hgroup class="oProfileTileTitle">
                                    <h1 class="oRowTitle">
                                        <a title="Li Wen" class="jsContractorProfileLink oHInline" data-user-id="{{key}}" ng-bind="user.name" ui-sref=".application({userId : {{key}} })"></a>
                                    </h1>

                                    <h3 ng-bind="user.title"></h3>
                                </hgroup>
                            </div>
                            <div class="col col2of8 oRight txtRight npad">

                                <div class="oDropdown" dropdown-menu>
                                    <button title="Contact"  class="oBtn oBtnSecondary jsContactContractor oDropdownBtn" ng-click="inviteUser(user); messaging = true; user.messaged = true;" ng-class="{messaging: messaging === true}" invite>Send message</button>

                                    <i class="oBtn oBtnSecondary oDropdownIcon" ng-click="toggleSelect()"></i>
                                    <ul class='oDropdownMenu' ng-show="isOpen">
                                        <li>Save Freelancer</li>
                                        <li>Start trial project</li>
                                        <li>Decline applicant</li>
                                        <li>Hire (send offer)</li>
                                    </ul>
                                </div>
                                <span class="oBtn oBtnSecondary oHideButton jsHide jsLogClickEvent" data-event-type="hide" data-id="277524504" ng-click="moveUser(key, recommendedApplicants, hiddenApplicants); updateCount(); hiddenChange()"><i class="oXIcon jsNoToggle"></i>
                                </span>
                            </div>
                        </div>
                        <div class="cols txtRight oFeedbackRow">
                            <div class="col oTxtMed jsRate">
                                <span ng-bind="user.price | number:2"></span>
                                <span class="oRateTime">/hr</span>
                            </div>

                            <div class="col oTxtMed jsHours">
                                <span ng-bind="user.hours"></span>
                                <span class="oRateTime">hours</span>
                            </div>

                            <div class="col">
                                <div class="oStarsContainer oStarsMedium txtMiddle">
                                    <div class="oStarsValue" style="width:99.334895538736%"></div>
                                </div>
                                <span class="oStarsTotal oStarsMedium txtMiddle" ng-bind="user.feedback | number:2"></span>

                            </div>
                            <div class="col oTxtMed">
                                <span ng-bind="user.clientSatisfaction"></span>%
                                <span class="oRateTime">Client satisfaction</span>
                            </div>
                        </div>
                        <div class="cols p">
                            <div class="col col4of8">

                                <div class="oDescription lhBig">
                                    <h3 class="p" ng-bind="user.screeningQuesitons[0]"></h3>
                                    <div class="p oTxtEnlarged" ng-bind="user.screeningQuesitons[1]">

                                    </div>
                                </div>
                            </div>
                            <div class="col col4of8">
                                <div class="oDescription lhBig">
                                    <h3 class="p" ng-bind="user.screeningQuesitons[2]"></h3>
                                    <div class="p oTxtEnlarged" ng-bind="user.screeningQuesitons[3]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cols">
                            <div class="col col4of8">

                                <div class="oAggregation">
                                    <i class="oIcon oIconLogo"></i>

                                    <div class="oTxtMed ib lhBig">
                                        <strong ng-bind="user.profileAgg[0]"></strong>
                                        <span class="oMute">-
                                            <span ng-bind="user.profileAgg[1]"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col col4of8">

                                <div class="oMute">
                                    <strong class="jsCountry">
                                        <i class="oIconLocation oIcon"></i>
                                        <span ng-bind="user.location"></span>
                                    </strong>
                                    &nbsp;-&nbsp; Tests:
                                    <a class="jsTests" href="#" ng-bind="user.test"></a>
                                    &nbsp;-&nbsp; Portfolio:
                                    <a class="jsPortfolio" href="#" ng-bind="user.portfolio">6</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
