<div class="eo-blocker eo-block-default" ng-show="loading">
    <div class="eo-block-message">Loading</div>
</div>
<div class="air-card p-sm-bottom p-md-top " ng-controller="TagController as tag">
    <div class="m-md-bottom">
        <div class="dropdown">
            <div class="filter m-md-top m-0-bottom">
                <a>
                    <span>Any category</span>
                </a>
                <div class="arrow"></div>
                <div class="drop-down" ng-show="open7">
                </div>
            </div>
        </div>
        <div class="dropdown" ng-show="dropdownTwo" multiselect>
            <div class="filter m-md-top m-0-bottom" ng-click="toggleSelect()" ng-class="{active: isPopupVisible}">
                <a>
                    <span ng-show="filterData.tasks.length">Choose a task</span>
                    <strong ng-show="!filterData.tasks.length">Tasks - </strong>
                    <span class="capitalize" ng-repeat="(value, key) in filterData.tasks" ng-bind="( value | prettyText ) + ($last ? '' : ',&nbsp;' )"></span>
                </a>
                <div class="arrow"></div>
            </div>
            <div class="drop-down" ng-show="isPopupVisible">
                <taskrole-set class="text-center"></taskrole-set>
            </div>
        </div>
        <div class="dropdown" ng-show="dropdownOne" multiselect>
            <div class="filter m-md-top m-0-bottom" ng-click="toggleSelect()" ng-class="{active: isPopupVisible}">
                <a>
                    <strong >Experience - 
                        <span ng-show="filterData.experience === '1'">Entry Level</span>
                        <span ng-show="filterData.experience === '2'">Intermediate</span>
                        <span ng-show="filterData.experience === '3'">Expert</span>
                    </strong>
                    <span class="capitalize"></span>
                </a>
                <div class="arrow"></div>
            </div>
            <div class="drop-down pos-right" ng-show="isPopupVisible">
                <platdev-set class="text-center"></platdev-set>
            </div>
        </div>
        <div class="dropdown" ng-show="dropdownThree === true">
            <div class="filter m-md-top m-0-bottom" ng-click="open3 = !open3" ng-init="open3 = false" ng-class="{active: open3}">
                <a>
                    <span ng-show="!objLength(searchTags.Tags.experiences).length && !objLength(searchTags.Tags.types).length">Choose a role or task</span>
                    <span ng-repeat="(experience, key) in filterSelected(searchTags.Tags.experiences)" ng-bind="experience + (($last && !objLength(searchTags.Tags.types).length) ? '' : ',&nbsp;' )"></span>
                    <span ng-repeat="(type, key) in filterSelected(searchTags.Tags.types)" ng-bind="type + ($last ? '' : ',&nbsp;' )"></span>
                </a>
                <div class="arrow"></div>
                <div class="drop-down" ng-show="open3 === true">
                    <xpdetails-set class="text-center"></xpdetails-set>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h5 class="m-0-bottom m-lg-top isCollapsed" ng-click="isCollapsed = !isCollapsed">
            <a class="ng-binding">
                <span class="glyphicon glyphicon-md vertical-align-middle air-icon-arrow-expand-circle m-0-left" ng-class="{
                    'air-icon-arrow-expand-circle': isCollapsed,
                    'air-icon-arrow-collapse-circle': !isCollapsed
                }"></span>
            Advanced options
            </a>
        </h5>
        <div collapse="isCollapsed" class="collapse in">
            <hr>
            <form class="p-md-top">
                <div class="row m-md-bottom">
                    <div class="col-md-4 form-group">
                        <h5>Hours billed</h5>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="hours.v1" ng-init="hours.v1 = true">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Any hours</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="hours.v2">
                            <span class="checkbox-replacement-helper"></span>
                            <small>At least 1 hour billed or $1 earned</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="hours.v3">
                            <span class="checkbox-replacement-helper"></span>
                            <small>At least 100 hours</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="hours.v4">
                            <span class="checkbox-replacement-helper"></span>
                            <small>At least 1,000 hours</small>
                        </label>
                    </div>
                    <div class="col-md-4 form-group">
                        <h5>Hourly Rate</h5>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="rate.v1" ng-init="rate.v1 = true">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Any hourly rate</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="rate.v2">
                            <span class="checkbox-replacement-helper"></span>
                            <small>$10 and below</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="rate.v3">
                            <span class="checkbox-replacement-helper"></span>
                            <small>$11 - $30</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="rate.v4">
                            <span class="checkbox-replacement-helper"></span>
                            <small>$30 - $60</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="rate.v5">
                            <span class="checkbox-replacement-helper"></span>
                            <small>$60 and above</small>
                        </label>
                    </div>
                    <div class="col-md-4 form-group">
                        <h5>Location</h5>
                        <input type="search" placeholder="Filter by specific locations" class="form-control m-md-bottom">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="location.v1" ng-init="location.v1 = true">
                            <span class="checkbox-replacement-helper"></span>
                            <small>United Kingdom</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="location.v2">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Sweden</small>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <h5>English level</h5>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="english.v1" ng-init="english.v1 = true">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Any level</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="english.v2">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Basic</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="english.v3">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Conversational</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="english.v4">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Fluent</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="english.v4">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Native</small>
                        </label>
                    </div>
                    <div class="col-md-4 form-group">
                        <h5>Freelancer Type</h5>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="freelancer.v1" ng-init="freelancer.v1 = true">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Any type</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="freelancer.v2">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Independent freelancers</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="freelancer.v3">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Agencies</small>
                        </label>
                    </div>
                    <div class="col-md-4 form-group">
                        <h5>Tests</h5>
                        <input type="search" placeholder="Filter by specific tests" class="form-control m-md-bottom">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="tests.v1">
                            <span class="checkbox-replacement-helper"></span>
                            <small>PHP 6 test</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="tests.v2">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Angularjs 1.0 test</small>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <h5>Freelancer Type</h5>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="freelancer.v1" ng-init="freelancer.v1 = true">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Any type</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="freelancer.v2">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Independent freelancers</small>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="freelancer.v3">
                            <span class="checkbox-replacement-helper"></span>
                            <small>Agencies</small>
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary m-0-left">Update filters</button>
                <a href="" class="btn btn-link" ng-click="isCollapsed = !isCollapsed">Cancel</a>
            </form>
        </div>
    </div>
    <hr>
    <div class="row ani-transition" ng-class="{condensed: tab === 3}">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="ani-transition" ng-class="{invisible: tab === 3}">
                <span class="dot" ng-class="{active : tab === 1}" ng-click="tab = 1"></span>
                <span class="dot" ng-class="{active : tab === 2}" ng-click="tab = 2"></span>
                <span class="dot" ng-class="{active : tab === 3}" ng-click="tab = 3"></span>
            </div>
            <taskrole-set class="animated" ng-show="tab === 1"></taskrole-set>
            <platdev-set class="animated" ng-show="tab === 2"></platdev-set>
            <jobpost-set class="animated" ng-show="tab === 3"></jobpost-set>
        </div>
    </div>
</div>
<div class="air-card m-md-bottom p-0-top-bottom" ng-controller="resultsController as results">
    <div class="row p-lg-top-bottom" ng-show="!searchResultsFiltered.length">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="m-md-bottom">Dang, no matching freelancers</h2>
            <div class="text-muted p-med">Try an earlier <a ng-click="back()">query</a> or try another query</div>
        </div>
    </div>
        <article ng-repeat="(key, result) in searchResultsFiltered">
            <div class="row p-lg-top-bottom">

                <div class="col-md-2">
                    <div class="col-md-10 p-0-left">
                        <p class="text-center m-0-bottom">
                            <a ng-href="https://www.upwork.com/users/_{{result.data.dev_recno_ciphertext}}"><img class="avatar avatar-lg m-0-top m-0-left" ng-src="{{result.data.dev_portrait_100}}"></a>
                        </p>
                    </div>
                    <div class="col-md-10 p-sm-left">
                        <a class="btn btn-default m-0-left-right m-sm-top-bottom p-md-left-right ng-pristine ng-untouched ng-valid ng-binding ng-isolate-scope eo-button-save btn-sm">Save</a>
                    </div>
                </div>
                <div class="col-md-7 p-sm-left">
                    <div>
                    <span class="oProfileTileTitle h3 m-0-top-bottom">
                        <a href="https://www.upwork.com/users/_{{result.data.dev_recno_ciphertext}}" title="{{result.data.dev_short_name}}" ng-bind="result.data.dev_short_name"></a>
                    </span>
                    <h2 class="m-xs-top m-0-bottom" ng-bind="result.data.dev_profile_title"></h2>
                    <p class="m-md-top m-0-bottom">
                        <span class="glyphicon air-icon-location m-0-left"></span>
                        <strong ng-bind="result.data.dev_country"></strong>
                        <span class="text-muted">
                        
                        <span class="jsLastActivity" ng-bind="result.data.dev_last_activity">
                        </span>
                        <span>
                            Tests: <span class="btn-link fw-200" ng-bind="result.data.dev_test_passed_count">0</span>
                        </span>
                        <span>
                            Portfolio: <span class="btn-link fw-200" ng-bind="result.data.dev_portfolio_items_count">0</span>
                        </span>
                        </span>
                    </p>
                    <p class="m-md-top m-0-bottom" ng-bind="result.data.dev_blurb | words:27"></p>
                    </div>
                    <ul class="list-inline separated m-md-top ng-isolate-scope">
                    <li ng-repeat="skill in result.data.skills | limitTo:4">
                        <a ng-bind="skill.skl_pretty_name" class="o-tag-skill m-0">
                        </a>
                    </li>
                    </ul>
                </div>
                <div class="col-md-3 text-right">
                    <div class="col-md-12 p-0-right">
                    </div>
                    <div class="col-md-12 p-0-right">
                        <div class="m-sm-bottom m-lg-top fs-lrg">
                            <strong ng-bind="'$' + (result.data.dev_bill_rate | number:2)"></strong>
                            <span class="text-muted m-xs-left"> /hr</span>
                        </div>
                        <div class="m-sm-bottom fs-lrg">
                            <strong ng-bind="result.data.dev_total_hours | number:0">0</strong>
                            <span class="text-muted m-xs-left"> Hours</span>
                        </div>
                        <div class="m-sm-bottom fs-lrg"> 
                            <strong ng-bind="result.nss100 ? (result.nss100 | percentage:0) : 'New to upwork' ">No score yet</strong>
                            <span class="text-muted m-xs-left" ng-hide="!result.nss100"> Job Success</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </article>
        <pagination ng-show="searchResults.length > 10" total-items="searchResults.length" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
</div>
<div id="ouibounce-modal" style="display: none;" oui-bounce>
        <div class="underlay"></div>
        <div class="modal">
            <button class="oPreviewDialogCloseBtn oRight jsDialogClose"></button>
            <h1 class="oH1 txtCenter">Low on time? We get it. Why not let us invite some freelancers for you?</h3>
                    <div class="oAttentionIcon">
                    <i class="oIconEnvelope oIcon"></i>
                    <i class="oIconVerified oIcon"></i>
                    </div>
                    <div class="oTxtMed txtCenter">

                    <form>

                        <div class="oFieldValue">
                            <input type="button" class="oBtn oBtnPrimary oBtnLarge oTxtMed" value="Yes! Invite the best freelancers for me">
                            <a href="" class="oBtn oBtnCancel">No thanks</a>
                        </div>

                    </form>
                    </div>
        </div>
</div>
<div class="profile-overlay animated" ui-view="profile" ng-show="$state.includes('atsHome.search.profile')" ui-sref="atsHome.search"></div>
